###> PHPStorm ###
/.idea/
###< PHPStorm ###

###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
###< symfony/framework-bundle ###

###> OS files ###
**/.DS_Store
*.icloud
###< OS files ###