###> PHPStorm ###
/.idea/
###< PHPStorm ###

###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
###< symfony/framework-bundle ###

###> OS files ###
**/.DS_Store
*.icloud
###< OS files ###
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
