parameters:
    excludePaths:
        - src/Controller/TemplateController.php
    level: 9
    paths:
        - dev
        - lib
        - migrations
        - src
        - tests
        - utils
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
