parameters:
    ignoreErrors:
        - '#repositoryClass(.*)expects class-string(.*)EntityRepository#'
    level: 9
    paths:
        - dev
        - lib
        - migrations
        - src
        - tests
        - utils
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
