@use "v3-infinite-loading/lib/style.css";

@use "bootstrap/scss/bootstrap" with (
  $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1900px,
  )
);

.bg-blue {
  background-color: #8ac2f1;
}

.overlay {
  background-color: #efefef;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.pointer {
  cursor: pointer;
}
.container {
  min-width: 100%;
}

.needs {
  overflow: hidden !important;
}
@media (min-width: 1140px) {
  .needs {
    overflow: hidden;
  }
}