@use 'bootstrap/scss/bootstrap' as * with (
  $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1900px
  )
);

$dropdown-success: #57ec57 !default;

.bg-primary.card {
  background-color: #8ac2f1 !important;
}

.btn-icon {
  height: 20px;
  line-height: .8;
  margin: 3.5px;
  padding: 1px;
  width: 20px;

  i {
    vertical-align: middle;
  }
}

.bg-success .dropdown-item {
  background-color: $dropdown-success !important;
}

@each $color, $value in $theme-colors {
  .bg-#{$color}.text-dark .disabled.dropdown-item {
    color: $black !important;
  }
}

.dropdown-item .text-success {
  color: $dropdown-success !important;
}

.pointer, th[aria-sort] {
  cursor: pointer;
}

.text-white .navbar-text {
  color: $white !important;
}
