@use 'bootstrap/scss/bootstrap';

.bg-primary.card {
  background-color: #8ac2f1 !important;
}

.btn-icon {
  height: 20px;
  line-height: .8;
  margin: 3.5px;
  padding: 1px;
  width: 20px;

  i {
    vertical-align: middle;
  }
}

.text-white .navbar-text {
  color: #fff !important;
}
