@use 'bootstrap/scss/bootstrap' as * with (
  $accordion-bg: #212529,
  $accordion-button-bg: #212529,
  $accordion-button-color: #fff,
  $accordion-button-active-bg: #343a40,
  $accordion-button-active-color: #fff,
  $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1900px
  )
);

$dropdown-success: #57ec57 !default;

:root {
  --ms-font-size: $input-font-size-sm;
}

@each $color, $value in $grays {
  .bg-gray-#{$color} {
    background-color: $value;
  }
}

@each $color, $value in $theme-colors {
  .bg-#{$color}.text-dark .disabled.dropdown-item {
    color: $black !important;
  }
}

.bg-primary.card {
  background-color: #8ac2f1 !important;
}

.bg-success .dropdown-item {
  background-color: $dropdown-success !important;
}

.btn-icon {
  height: 20px;
  line-height: .8;
  margin: 3.5px;
  padding: 1px;
  width: 20px;
}

.container {
  min-width: 100%;
}

.dropdown-item .text-success {
  color: $dropdown-success !important;
}

.enter-key-icon {
  @extend .btn;
  @extend .btn-icon;
  background-image: url(/img/enter-key.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.pointer, th[aria-sort] {
  cursor: pointer;
}

.text-white .navbar-text {
  color: $white !important;
}
