<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>T-Concept GPAO</title>
        {{ vite_entry_link_tags('app.js') }}
    </head>
    <body>
        <app id="vue"></app>
        {{ vite_entry_script_tags('app.js') }}
    </body>
</html>
