<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {{ vite_entry_link_tags('index.ts') }}
        <title>T-Concept GPAO</title>
    </head>
    <body>
        <div id="vue"></div>
        {{ vite_entry_script_tags('index.ts') }}
    </body>
</html>
