<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>T-Concept GPAO</title>
        {{ vite_link('app') }}
    </head>
    <body>
        <app id="vue"></app>
        {{ vite_script('app') }}
    </body>
</html>
